.greeting {
    font-size: 30px;
    margin-bottom: 40px;
    text-align: center;
}

.piano {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 40px;
}

.white-key, .black-key {
    border: 1px solid #000;
    height: 200px;
    color: #fff;
    text-align: center;
    line-height: 200px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

.white-key {
    background-color: #fff;
    width: 60px;
    color: #000;
    z-index: 0;
}

.black-key {
    background-color: #000;
    width: 40px;
    height: 120px;
    margin: 0 -20px;
    z-index: 1;
}

.music-settings {
    text-align: center;
    margin-top: 200px;
}

.music-settings label {
    margin-right: 10px;
    font-size: 16px;
}

.music-settings select, .music-settings input {
    margin-right: 20px;
    padding: 5px;
    font-size: 16px;
}

.music-settings button {
    padding: 5px 15px;
    font-size: 16px;
    cursor: pointer;
}

